@import (less) "~common/globalStyle.less";

.BasicLayout {
  width: 100%;
  height: 100%;
  // min-width: 1900px;

  .BasicLayout-header {
    height: 47px;
    width: 100%;
    // min-width: 1900px;
    //background-color: #e8e8e8;
    display: flex;
    overflow: hidden;
    .global-shadow();
  }

  .BasicLayout-center {
    width: 100vw;
    // min-height: 800px;
    // min-width: 1900px;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
  }

  .BasicLayout-footer {
    background-color: #e9e9e9;
    width: 100vw;
    // min-width: 1900px;
    border: 1px solid rgb(65, 65, 65);
    height: 50px;
    // display: flex;
    // justify-content: center;
    // align-content: center;
     bottom: 1px;
    // overflow: hidden;

    .text {
      margin: 0 auto;
      text-align: center;

      a {
        color: #999;
      }
    }
  }
}
