.QueryHome {
  // width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .carousel {
    margin-top: 14px;
    height: 160px;
    width: 100%;
  }
  .img {
    width: 100%;
    height: 100%;
    // max-height: 160px;
  }
  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #dd1717;
    overflow: hidden;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .home_footer {
    margin-top: 1vw;
    margin-bottom: 3vw;
  }
  .top {
    width: 100vw;
    height: 65px;
    background-color: #60ca6e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;

    .top_cell {
      /* display: flex;
      align-items: center;
      justify-content: center; */
      text-align: center;
      width: 27%;
      height: 100px;
      background: #ddeaf6;
      border-radius: 10px;
      margin-left: 5%;
      margin-bottom: 15px;
      padding: 4px;
      .top_icon {
        margin: 8px 0;
       }
    }
  }
}
