.Home {
  // width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .carousel {
    height: 100px;
    width: 100%;
  }
  .img{
    max-width: 100vm;
    max-height: 100px;
  }
  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
}
